.title {
  max-width: 1200px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.title h3 {
  font-size: 2em;
  line-height: 150%;
  letter-spacing: 0.2rem;
  color: brown;
  border-top: 3px solid brown;
  border-bottom: 3px solid brown;
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

.intro {
  max-width: 1200px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  width: 90%;
  border-top: 3px solid darkgoldenrod;
  margin-top: 50px;
}

.intro .character {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 3px solid darkgoldenrod;
}

.intro .character img {
  margin: 0 20px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-left: 100px;
}

.intro .character .data {
  width: 60%;
  margin: 0 auto;
  text-align: left;
}

.kirito {
  background-image: url("./img/kirito.jpg");
  background-size: cover;
  background-position-x: center;
}

.asuna {
  background-image: url("./img/asuna.jpg");
  background-size: cover;
  background-position-x: center;
}

.yui {
  background-image: url("./img/yui.jpg");
  background-size: cover;
  background-position-x: center;
}

.leafa {
  background-image: url("./img/leafa.jpeg");
  background-size: cover;
  background-position-x: center;
}

.sinon {
  background-image: url("./img/sinon.jpg");
  background-size: cover;
  background-position-x: center;
}

.yuuki {
  background-image: url("./img/yuuki.jpg");
  background-size: cover;
  background-position-x: center;
}

.alice {
  background-image: url("./img/alice.jpg");
  background-size: cover;
  background-position-x: center;
}

.eugeo {
  background-image: url("./img/eugeo.jpg");
  background-size: cover;
  background-position-x: center;
}

.bg-mask {
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  padding: 100px 100px 200px 100px;
}

.bg-mask .max-wid {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.bg-mask .max-wid img {
  height: 300px;
  width: 300px;
}

.bg-mask .max-wid a {
  float: right;
  padding-right: 150px;
}

.reviews {
  width: 60%;
  margin: 0 auto;
}

.reviews .reviews-bg-mask {
  height: 100%;
  background: rgba(115, 115, 115, 0.5);
  padding: 10px;
}

.reviews .reviews-bg-mask .review-title {
  text-align: center;
  font-size: 1.8em;
  margin-top: 10px;
}

.reviews .reviews-bg-mask .review {
  display: flex;
}

.reviews .reviews-bg-mask .review .review-user {
  margin-left: auto;
}

.reviews .reviews-bg-mask .review .review-user p {
  font-size: 1.5em;
  padding-right: 50px;
  padding-left: 50px;
}

.reviews .reviews-bg-mask .review .review-content {
  margin-right: auto;
}

.reviews .reviews-bg-mask .review .review-content p {
  font-size: 1.5em;
}
